---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>
    <div class="social-share">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ post.url }}" data-text="{{ post.title }}" data-via="egemsoft" data-dnt="true">Tweet</a>
    </div>
    <div class="info">
      {% if post.author && site.authors[post.author] %}
      {% if site.authors[post.author].emailHash %}
      <img class="author-avatar" src="http://www.gravatar.com/avatar/{{ site.authors[post.author].emailHash }}?s=40">
      {% endif %}
      <span class="author">{{ site.authors[post.author].name }} wrote</span>
      {% endif %}
      <span class="post-date">on {{ post.date | date_to_string }}</span>
    </div>

    {{ post.excerpt }}

    <a class="more" href="{{ post.url }}" title="{{ post.title }}"><small>Continue reading</small></a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page/{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page/{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>