.masthead-title {
  text-align: center;
}
.masthead-title .logo {
  display: inline;
  margin: 0;
  position: relative;
  top: 7px;
  border-radius: 0;
}

.content .author {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.content .author .name {
  padding-top: 15px;
}
.content .author .avatar {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 35px;
}

.clearfix {
  clear: both;
}

.posts .post {
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #eee;
}
.posts .post:last-child {
  margin-bottom: 4rem;
  border-bottom: none;
  padding-bottom: 0;
}

.post .info {
  margin: 5px 0 25px;
  font-weight: 100;
  font-size: 16px;
  color: #A7B0BE;
}
.posts .info .post-date {
  display: inline;
  color: #A7B0BE;
}
.posts .info .author-avatar {
  position: relative;
  border-radius: 50%;
  display: inline;
  margin: 0;
  top: 13px;
  margin-right: 10px;
}
.post .social-share {
  float: right;
  margin-top: 17px;
}